<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>post blog</title>
</head>
<body>

    
    <%- include("partials/header") %>
    <h2 class="center">Create a new Post</h2>
    <div class="flex">
    <form action="/submit" method="POST">
        <input type="text" name="title" placeholder="Title" required>
        <textarea name="content" class="textArea" placeholder="Your post..." required ></textarea><br><br>
        <button type="submit" class="publish">Publish</button>
    </form> </div>  
    </body>
    <%- include("partials/footer") %>
    <!-- <script>
        const textarea = document.querySelector('textarea');
        textarea.addEventListener('input', () => {
          textarea.style.height = 'auto'; // reset first
          textarea.style.height = textarea.scrollHeight + 'px'; // then set height
        });
    </script> -->
      
</body>
</html>